
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> _userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryMangementMvcIdentity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryMangementMvcIdentity.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LibraryMangementMvcIdentity</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Book Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Requests">Admin request dashboard</a>
                            </li>
                            <li style="margin-left:auto;" class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Hello @(_userManager.GetUserName(User)!)</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@

    <header>
        <div class="layout-wrapper">
            <div class="c-flex c-items-center c-justify-between">
                <div class="logo">
                    <a href="#" class="web-logo">book land</a>
                </div>
                <nav class="primary-nav">
                    <ul class="primary-nav__ul">
                        <li class="primary-nav__li"><a asp-controller="Home" asp-action="Index" class="primary-nav__link">home</a></li>
                        <li class="primary-nav__li"><a asp-controller="Home" asp-action="Privacy" class="primary-nav__link">privacy</a></li>
                    </ul>
                </nav>
                <div class="user-action__wrapper">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <!-- Remove the display-none class in production mode -->
                        <a asp-controller="Account" asp-action="Login" class="user-action__register">sign in</a>
                    }
                    else
                    {
                        <div class="c-relative">
                            <button id="user-profile" aria-label="user profile menu button" class="user-action__user-profile">@(_userManager.GetUserName(User)!.Substring(0, 2))</button>
                            <div class="user-action__tabs" aria-expanded="false" aria-labelledby="user-profile">
                                <ul class="user-action__ul">
                                    <li class="user-action__li">
                                        <a href="#" class="user-action__link">user profile</a>
                                    </li>
                                    <li class="user-action__li">
                                        <a asp-controller="Book" asp-action="Index" class="user-action__link">admin book dashborad</a>
                                    </li>
                                    <li class="user-action__li">
                                        <a asp-controller="User" asp-action="Requests" class="user-action__link">admin request dashborad</a>
                                    </li>
                                    <li class="user-action__li">
                                        <a asp-controller="User" asp-action="Index" class="user-action__link">my request(s)</a>
                                    </li>
                                    <li class="user-action__li">
                                        <form method="post" asp-controller="Account" asp-action="Logout">
                                            <button type="submit" class="user-action__sign-out-btn">sign out</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LibraryMangementMvcIdentity - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
